:root {
  --main-text-color: #212121;
  --menu-text-color: black;
  --contactncontent-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --button-text-color: white;
  --background-color: #f5f5f5;
  --button-backgroundnhover-color: #2196f3;
  --alternative-button-background-color: #f5f4fa;
  --mainheadline-footer-color: #2f303a;
}

/* Box-sizing for whole website */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Styles for whole website */
body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0%;
}

/* Container for header, sections and footer */

.container {
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 211px;
  padding-right: 227px;
  width: 100%;
  margin: auto;
  border: 1px solid red;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  text-decoration: none;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9375em;
  letter-spacing: 0.03em;

  color: var(--button-backgroundnhover-color);
}

.logo-header > span {
  color: var(--menu-text-color);
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 46px;
}

.contact-header {
  display: flex;
  gap: 50px;
}

.menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.menu a:hover {
  color: var(--button-backgroundnhover-color);
}
.menu a:focus {
  color: var(--button-backgroundnhover-color);
}

.contact-header {
  list-style: none;
}

.contact-header a {
  text-decoration: none;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1px;
  letter-spacing: 0.02em;

  color: var(--contactncontent-text-color);
}

.contact-header a:hover {
  color: var(--button-backgroundnhover-color);
}
.contact-header a:focus {
  color: var(--button-backgroundnhover-color);
}

.header-bottom-line {
  border-bottom: 1px solid var(--contactncontent-text-color);
}

/* SECTIONS - main content */

/* Main headline & Button */

.main-headline {
  background-color: var(--mainheadline-footer-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 2px solid blue;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-text-color);
  margin: 0 auto;
  padding-top: 200px;
  padding-left: 252px;
  padding-right: 252px;
  width: 100%;
  border: 1px solid fuchsia;
}

.main-button {
  background-color: var(--button-backgroundnhover-color);
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-bottom: 200px;
}

.main-button-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;

  text-align: center;
  letter-spacing: 0.06em;
  color: var(--button-text-color);
}

.main-button:hover {
  background-color: var(--button-backgroundnhover-color);
  color: var(--button-text-color);
}
.main button:focus {
  background-color: var(--button-backgroundnhover-color);

  color: var(--button-text-color);
}

/* PORTFOLIO Buttons categories */

.section {
  padding-top: 94px;
}

.button-categories {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 0;
  border: 2px solid green;
}
button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625em;
  background-color: var(--alternative-button-background-color);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 1px solid var(--alternative-button-background-color);
  border-radius: 4px;
}

button:hover {
  background-color: var(--button-backgroundnhover-color);
  color: var(--button-text-color);
}
button:focus {
  background-color: var(--button-backgroundnhover-color);
  color: var(--button-text-color);
}

/* Lorem */

.lorem-headline {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-text-color);
}

.list-lorem {
  list-style: none;
  display: flex;

  padding-right: 15px;
  padding-left: 15px;
  margin-top: 94px;
  margin-bottom: 94px;
  gap: 30px;
  border: 1px solid red;
}

.lorem-content {
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: var(--contactncontent-text-color);
  border: 2px solid green;
}

/* Secondary headline & work images */

.secondary-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.625em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 94px;
}
.list-img {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  gap: 30px;
  border: 2px solid purple;
}

/* Secondary headline & Team images, members, job titles */

.team-container {
  background-color: var(--alternative-button-background-color);
  margin-top: 94px;
  height: 648px;
  border: 1px solid green;
}

.list-team {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid red;
  margin-bottom: 94px;
}

.team-item {
  margin: 0 auto;
  border: 2px solid turquoise;
  background-color: var(--button-text-color);
}

.team-img {
  margin: 0 auto;
}

.team-headline {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875em;

  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.job {
  font-size: 16px;
  line-height: 1.1875em;

  letter-spacing: 0.03em;

  color: var(--contactncontent-text-color);
}

/* MAIN Portfolio */
/* List & Job categories cards */

.container-cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding-right: 15px;
  padding-left: 15px;
  border: 1px solid red;
}

.category-headline {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.category {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  color: var(--contactncontent-text-color);
}

.container-cards {
  list-style: none;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.card-item {
  margin: 0%;
  flex-basis: calc(100% / 3);
}

.card-img {
  width: 370px;
  height: 404px;
  background-color: var(--button-text-color);
  margin: 0%;
}

/* FOOTER */

.footer-container {
  display: flex;
  flex-direction: column;
  height: 252px;
  background-color: var(--mainheadline-footer-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  text-decoration: none;

  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9375em;
  letter-spacing: 0.03em;

  color: var(--button-backgroundnhover-color);
}

.logo-footer > span {
  color: var(--button-text-color);
}

.contact-footer {
  list-style: none;
}

.contact-footer a {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}

.contact-footer a:hover {
  color: var(--button-backgroundnhover-color);
}
.contact-footer a:focus {
  color: var(--button-backgroundnhover-color);
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.5em;

  letter-spacing: 0.03em;

  color: var(--button-text-color);
}
